# Анализ надёжности заёмщиков

**Описание задачи и цель исследования**

Кредитный отдел банка поставил задачу: *разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок*. 
Входные данные от банка — статистика о платёжеспособности клиентов.
Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

**Описание данных**

* `children` — количество детей в семье
* `days_employed` — общий трудовой стаж в днях
* `dob_years` — возраст клиента в годах
* `education` — уровень образования клиента
* `education_id` — идентификатор уровня образования
* `family_status` — семейное положение
* `family_status_id` — идентификатор семейного положения
* `gender` — пол клиента
* `income_type` — тип занятости
* `debt` — имел ли задолженность по возврату кредитов
* `total_income` — ежемесячный доход
* `purpose` — цель получения кредита

<h1>План работы<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Откроем-таблицу-и-изучим-общую-информацию-о-данных" data-toc-modified-id="Откроем-таблицу-и-изучим-общую-информацию-о-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Откроем таблицу и изучим общую информацию о данных</a></span></li><li><span><a href="#Предобработем-данные" data-toc-modified-id="Предобработем-данные-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Предобработем данные</a></span><ul class="toc-item"><li><span><a href="#Удаленим-пропуски" data-toc-modified-id="Удаленим-пропуски-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Удаленим пропуски</a></span></li><li><span><a href="#Обработаем-аномальные-значения" data-toc-modified-id="Обработаем-аномальные-значения-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Обработаем аномальные значения</a></span></li><li><span><a href="#Изменим-типы-данных" data-toc-modified-id="Изменим-типы-данных-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Изменим типы данных</a></span></li><li><span><a href="#Обработаем-дубликаты" data-toc-modified-id="Обработаем-дубликаты-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Обработаем дубликаты</a></span></li><li><span><a href="#Категоризируем-данные" data-toc-modified-id="Категоризируем-данные-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Категоризируем данные</a></span></li></ul></li><li><span><a href="#Исследуем-данные-и-ответим-на-вопросы" data-toc-modified-id="Исследуем-данные-и-ответим-на-вопросы-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Исследуем данные и ответим на вопросы</a></span><ul class="toc-item"><li><span><a href="#Есть-ли-зависимость-между-количеством-детей-и-возвратом-кредита-в-срок?" data-toc-modified-id="Есть-ли-зависимость-между-количеством-детей-и-возвратом-кредита-в-срок?-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Есть ли зависимость между количеством детей и возвратом кредита в срок?</a></span></li><li><span><a href="#Есть-ли-зависимость-между-семейным-положением-и-возвратом-кредита-в-срок?" data-toc-modified-id="Есть-ли-зависимость-между-семейным-положением-и-возвратом-кредита-в-срок?-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Есть ли зависимость между семейным положением и возвратом кредита в срок?</a></span></li><li><span><a href="#Есть-ли-зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок?" data-toc-modified-id="Есть-ли-зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок?-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Есть ли зависимость между уровнем дохода и возвратом кредита в срок?</a></span></li><li><span><a href="#Как-разные-цели-кредита-влияют-на-его-возврат-в-срок?" data-toc-modified-id="Как-разные-цели-кредита-влияют-на-его-возврат-в-срок?-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Как разные цели кредита влияют на его возврат в срок?</a></span></li><li><span><a href="#Возможные-причины-появления-пропусков-в-исходных-данных." data-toc-modified-id="Возможные-причины-появления-пропусков-в-исходных-данных.-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Возможные причины появления пропусков в исходных данных.</a></span></li><li><span><a href="#Почему-заполнить-пропуски-медианным-значением-—-лучшее-решение-для-количественных-переменных." data-toc-modified-id="Почему-заполнить-пропуски-медианным-значением-—-лучшее-решение-для-количественных-переменных.-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.</a></span></li></ul></li><li><span><a href="#Общий-вывод." data-toc-modified-id="Общий-вывод.-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Общий вывод.</a></span></li></ul></div>

## Откроем таблицу и изучим общую информацию о данных

**Импортируем библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Выведем первые 10 строчек датафрейма `data` на экран.**

In [2]:
data.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи

**Выведем основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

***Вывод:*** Считав данные из csv-файла в датафрейм и просмотрев основную информацию о датафрейме, мы можем сделать вывод, что в стобцах `days_employed` и `total_income` данных меньше, чем в остальных. В столбце `days_employed` (общий трудовой стаж в днях) присутствуют отрицательные значения, хотя эти данные не могут быть отрицательными. В столбце `education` (уровень образования клиента) данные представлены в разном регистре.

## Предобработем данные

### Удаленим пропуски

**Выведим количество пропущенных значений для каждого столбца.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Заполним пропуске в столбце с пропущенными значениями — `total_income`**

Столбец — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполним пропуски в этом столбце медианным значением по каждому типу занятости из столбца `income_type`.

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

**Заполним пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [6]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Убедимся, что все пропуски заполнены.**

In [7]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Обработаем аномальные значения

**В столбце `days_employed` присутствуют отрицательные количества дней трудового стажа. Заменим все отрицательные значения положительными с помощью метода `abs()`.**

In [8]:
data['days_employed'] = data['days_employed'].abs()

**Для каждого типа занятости выведим медианные значения трудового стажа `days_employed` в днях.**

In [9]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) аномально большие значения.

**Выведим перечень уникальных значений столбца `children`.**

In [10]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**В столбце `children` есть два аномальных значения. Удалим строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [11]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Ещё раз выведим перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [12]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Изменим типы данных

**Заменим вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработаем дубликаты

**Обработаем неявные дубликаты в столбце `education`.**

В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведём их к нижнему регистру.

In [15]:
data['education'] = data['education'].str.lower()

**Выведем на экран количество строк-дубликатов в данных.**

In [16]:
data.duplicated().sum()

71

**Удалим дубликаты**

In [17]:
data = data.drop_duplicates()

### Категоризируем данные

**На основании диапазонов, указанных ниже, создадим в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

**Создадим функцию для категоризации**

In [18]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

**Применим её**

In [19]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Выведем на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [20]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Создадим функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

In [21]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

**Применим её**

In [22]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Исследуем данные и ответим на вопросы

### Есть ли зависимость между количеством детей и возвратом кредита в срок?

**Напишем функцию для построения сводных таблиц с помощью метода `pivot_table()`, построим сводную таблицу, сгруппировав данные по целевому показателю и к данным о наличии задолженности по возврату кредитов (столбец `debt`), применим функции: `sum()` - чтобы посчитать общее количество кредитополучателей, `count()` - чтобы посчитать количество должников, `mean()`, чтобы узнать долю должников от общего количества кредитополучателей, переименуем столбцы и отсортируем по убыванию среднего значения, с помощью метода `.sort_values()`**

In [23]:
def data_pivot_table(data, index):
    pivot = data.pivot_table(index = [index], values = 'debt', aggfunc={'sum','count','mean'})
    pivot = pivot.rename(
        columns={
            'count': 'total_borrowers',
            'sum': 'total_debtors',
            'mean': 'share_of_debtors',        
        }    
    )
    return pivot.sort_values(by='share_of_debtors', ascending=False)

**Применим функцию `data_pivot_table`, сгруппировав данные по семейному статусу (столбец `children`)**

In [24]:
data_pivot = data_pivot_table(data, 'children')
data_pivot

          total_borrowers  share_of_debtors  total_debtors
children
4                    41.0          0.097561            4.0
2                  2052.0          0.094542          194.0
1                  4808.0          0.092346          444.0
3                   330.0          0.081818           27.0
0                 14091.0          0.075438         1063.0
5                     9.0          0.000000            0.0

**Вывод:** 
Исходя из полученных данных, мы можем сделать вывод: заёмщики без детей возвращают кредит лучше, чем заёмщики с 1-2 детьми. Скорее всего это связано с дополнительными расходами на обеспечение детей. 

Заёмщики с 3-5 детьми недостаточно представлены в выборке, для корректных выводов.

### Есть ли зависимость между семейным положением и возвратом кредита в срок?

**Применим функцию `data_pivot_table`, сгруппировав данные по семейному статусу (столбец `family_status`)**

In [25]:
data_pivot = data_pivot_table(data, 'family_status')
display(data_pivot)

                       total_borrowers  share_of_debtors  total_debtors
family_status
Не женат / не замужем           2796.0          0.097639          273.0
гражданский брак                4134.0          0.093130          385.0
женат / замужем                12261.0          0.075606          927.0
в разводе                       1189.0          0.070648           84.0
вдовец / вдова                   951.0          0.066246           63.0

**Вывод:** 
Исходя из полученных данных, мы можем сделать вывод: заёмщики не женатые/ не замужние и состоящие в гражданском браке, выплачивают кредиты хуже, чем состоящие или когда-либо состоявшие в браке. Видимо в брак вступают более ответственные люди или брак делает людей более отвественными. Разведенные и вдовцы - обычно люди в возрасте, с возрастом люди становятся более опытными и более ответственными.

### Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

**Применим функцию `data_pivot_table`, сгруппировав данные по категории доходов (столбец `total_income_category`)**

In [26]:
data_pivot = data_pivot_table(data, 'total_income_category')
display(data_pivot)

                       total_borrowers  share_of_debtors  total_debtors
total_income_category
E                                 22.0          0.090909            2.0
C                              15921.0          0.084982         1353.0
A                                 25.0          0.080000            2.0
B                               5014.0          0.070602          354.0
D                                349.0          0.060172           21.0

**Вывод:** 
Исходя из полученных данных, мы можем сделать вывод: заёмщики с категорией B (200001–1000000) реже имеют задолжность по возврату кредита, чем с категорией C (50001–200000). Заёмщикам с более высоким уровнем дохода проще выплачивать кредит, чем заёмщикам с более низким доходом. 

Остальные категории заёмщиков недостаточно представлены в выборке, для корректных выводов.

### Как разные цели кредита влияют на его возврат в срок?

**Применим функцю `data_pivot_table`, сгруппировав данные по категории цели взятия кредита (столбец `purpose_category`)**

In [27]:
data_pivot = data_pivot_table(data, 'purpose_category')
display(data_pivot)

                          total_borrowers  share_of_debtors  total_debtors
purpose_category
операции с автомобилем             4279.0          0.093480          400.0
получение образования              3988.0          0.092528          369.0
проведение свадьбы                 2313.0          0.079118          183.0
операции с недвижимостью          10751.0          0.072551          780.0

**Вывод:** 
Исходя из полученных данных, мы можем сделать вывод: заёмщики, которые берут кредит на проведение свадьбы и операции с недвижимостью, чаще выплачивают кредит вовремя, чем заёмщики, которые берут кредит на операции с автомобилем и для получения образования. Возможно, покупка недвижимости и проведение свадьбы - являются более ответственными и значимыми событиями, а при получении образования может быть сложно параллельно работать, чтобы своевременно выплачивать кредит, при серьёзном ДТП повышается риск невыплаты или несвоевременной выплаты задолженности по автокредиту.

### Возможные причины появления пропусков в исходных данных.

Пропуски присутствуют в столбцах 'days_employed' (общий трудовой стаж в днях) и 'total_income' (ежемесячный доход), возможно, потому что заёмщик никогда не работал, отказался предоставить эти данные или из-за технического сбоя эти данные были утеряны.

### Почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

Заполнение пропусков медианным значением - является лучшим решением для количественных значений, потому что, обычно, это не искажает распределение данных так сильно, как заполнение средним значением. Среднее значение может быть существенно изменено, если в данных присутствуют выбросы или аномальные значения, что может привести к искаженным результатам анализа, а медианное значение - представляет собой значение, которое находится между двух равных частей выборки и позволяет сохранить статистические свойства выборки.

## Общий вывод.

В ходе исследования, мы предобработали данные: заполнили пропуски, заменили отрицательные значения на положительными, вещественный тип данных на целочисленный, удалили строки с аномальным значениями, обработали неявные дубликаты6 категоризировали заемщиков по категориями, в зависимости от их ежемесячного дохода и по целям взятия кредита.

Проведя анализ полученных нами данных, можно сделать вывод, что семейное положение и количество детей у клиента влияют на факт погашения кредита в срок:
* Когда-либо состоявшие в официальном браке заёмщики, выплачивают кредиты лучше, чем никогда не состоявшие в официальном браке. Видимо в брак вступают более ответственные люди или брак делает людей более отвественными. Разведенные и вдовцы - обычно люди в возрасте, с возрастом люди становятся более опытными и более ответственными.
* Заёмщики без детей возвращают кредит лучше, чем заёмщики с 1-2 детьми. Скорее всего это связано с дополнительными расходами на обеспечение детей. 

Так же на наличие задолжности по выплате кредита влияет цель получения кредита: на проведение свадьбы и на операции с недвижимостью кредиты лучше выплачиваются, чем на операции с автомобилями или на получение образования. Возможно, покупка недвижимости и проведение свадьбы - являются более ответственными и значимыми целями, а при получении образования может быть сложно параллельно работать, чтобы своевременно выплачивать кредит, при серьёзном ДТП повышается риск невыплаты или несвоевременной выплаты задолженности по автокредиту.

Заёмщики с высоким доходом реже имеют задолжность по возврату кредита, чем с низким, потому что это напрямую влияет на возможность заёмщика выплачивать кредит своевременно.

Чаще всего более надёжным заёмщиком является заёмщик у которого нет детей и он когда-либо состоял в официальном браке, имеет высокий доход и берёт кредит на проведение свадьбы или на операции с недвижимостью. Рискованным заёмщиком обычно является заёмщик, который никогда не состоял в официальном браке, у него есть дети, оформляет кредит на образование или автомобиль и имеет низкий доход.

Рекомендуем заказчику при построении модели кредитного скоринга повысить процент одобряемости кредитов для надёжных заёмщиков и снизить для рискованных.